.acoes-lista{
    display: -webkit-box;
    font-size: 20px;
}
#edit{
    color:#047d80;
}
#delete{
    color:#f00;
    background:transparent;
    border:none;
    cursor: pointer;
}
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    background-color: #00a65a;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;    
    float: left;    
    padding-top: 16px;
    padding-bottom: 16px;    
    box-sizing: border-box;    
    background-color: #008d4c;
    color: #fff;
}
#toast #desc{    
    color: #fff;   
    padding: 16px;    
    overflow: hidden;
	white-space: nowrap;
}
#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}
@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}
@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}
@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}
.picture-canvas {
    display: none;
}
.titulo-respostas {
    text-align: center;
    background-color: #367fa9;
    color: #fff;
    font-size: 20px;
}
.custom {
    background-color: #047d80 !important;
    /* background-color: #3844d8 !important;  */
    font-size: 14px !important;
    position: relative;
    border:none !important;
    /* width: 110px !important; 
    height: 35px !important; */
    border-radius: 3px !important;
    padding: 15px;
    margin-left:15px;
}
.custom-pdf{
    background-color: #f00 !important;
    
    font-size: 14px !important;
    font-weight: bold;
    position: relative;
    border:none !important;
    border-radius: 3px !important;
}
.fa-file-pdf-o{
    font-weight: bold;
    font-size: 19px !important;
}

.titulo-sistema {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    font-style: italic;
    padding: 6px;
    position: absolute;

}

.table-checklist{
    text-align: center;
}
.opcao-checklist{
    margin-right: 20px;
}


